
<script src="https://kit.fontawesome.com/968b7ca54c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<div class="container d-flex justify-content-center table-box">
    <div class="main">
            

       
        <div class="kcard " >
            <a href="myprofile.html"><img  class="card-img-top" src="https://th.bing.com/th/id/OIP.VwDAQZfumkNyo17xbrePTgHaHa?pid=ImgDet&w=512&h=512&rs=1" alt="Card image cap"></a>
            <div class="status">
                <p>Approved :<br></p>
                 <p class="card-text"> 26/02/21</p>
              </div>
            <div class="card-body">
              <p class="card-text"><br>Ravi Shanker - Module Lead<br>Reporting Person-Vinay Raja</p><br>
             <h2><i  class="fa fa-share fa-sm"></i><i class="fa fa-download"></i></h2> 
              
            </div>
        </div>
        <div class="kcard " >
            <a href="myprofile.html"><img  class="card-img-top" src="https://th.bing.com/th/id/OIP.VwDAQZfumkNyo17xbrePTgHaHa?pid=ImgDet&w=512&h=512&rs=1" alt="Card image cap"></a>
            <div class="status">
                <p>Approved :<br></p>
                <p class="card-text">11/02/20</p>
              </div>
            <div class="card-body">
              <p class="card-text"><br>Ravi Shanker - Module Lead<br>Reporting Person-Vinay Raja</p><br>
             <h2><i  class="fa fa-share fa-sm"></i><i class="fa fa-download"></i></h2> 
              
            </div>
        </div>
        <div class="kcard " >
            <a href="myprofile.html"><img  class="card-img-top" src="https://th.bing.com/th/id/OIP.VwDAQZfumkNyo17xbrePTgHaHa?pid=ImgDet&w=512&h=512&rs=1" alt="Card image cap"></a>
            <div class="status">
                <p>Approved :<br></p>
                <p class="card-text">03/08/20</p>
              </div>
            <div class="card-body">
              <p class="card-text"><br>Ravi Shanker - Module Lead<br>Reporting Person-Vinay Raja</p><br>
             <h2><i  class="fa fa-share fa-sm" ></i><i class="fa fa-download"></i></h2> 
              
            </div>
        </div>
    </div>
</div>