<!-- <div class="container d-flex justify-content-center table-box"> -->
    <!-- <div class="main"> -->
        <div class="people">
            <div class="peoples">
                <img src="./assets/img/total_users.png" alt="">
                <h6>1000</h6>
                <a href="#"><h6>Total</h6></a>
            </div>
            <div class="peoples people-net">
                <a href="card.html"><img src="./assets/img/approved_users.png" alt=""></a>
                <a href="card.html"><h6>1000</h6></a>
                <a href="card.html"><h6>Approved</h6></a>
            </div>
            <div class="peoples">
                <img src="./assets/img/declined_users.png" alt="">
                <h6>1000</h6>
                <a href="#"><h6>Rejected</h6></a>
            </div>
            <div class="peoples people-net">
                <img src="./assets/img/waiting_users.png" alt="">
                <h6>1000</h6>
                <a href="#"><h6>Waiting</h6></a>
            </div>
        </div>
    <!-- </div> -->
<!-- </div> -->